<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">   
    
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

	<body class="nav-md">
         <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content">
			<div class="page-title">
				<div class="title_center">
					<b><font color="orange" size="5"><center>DETAILS ODK MEMBRE</center></font></b>
				</div>
			</div>
			<div class="alert alert-warning alert-dismissible fade in" style="background-color: Gainsboro; align: center" >
				<center>
					<a onclick = "history.back()" class="btn btn-warning" >Retour</a>
				</center>
			</div>

            <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_content">
							<form class="form-horizontal form-label-left" th:object="${odkMembre}" th:action="@{/admin/odkMembre}"  method="post"   novalidate>
								<div class="col-md-12 col-sm-12 col-xs-12">								
									<div class="x_panel">
										<div class="x_title">
										   <b><font color="orange" size="4">Localisation du ménage</font></b>
											<div class="clearfix"></div>
									    </div>								
										<table class="table table-striped table-bordered jambo_table bulk_action">
											<thead>
												<tr class="headings">
													<th colspan=2 class="column-title" >Région</th>
													<th colspan=2 class="column-title" >Département</th>
													<th colspan=2 class="column-title" >Sous Préfecture</th>
													<th colspan=2 class="column-title" >Localié</th>  
                                                    <th class="column-title" >Vilage</th>     													
												</tr>
											</thead>

											<tbody>
												<tr class="even pointer">
													<td th:text="${odkMembre.codeRegion}" width=5%> </td>
													<td th:text="${odkMembre.regions}" ></td> 
													<td th:text="${odkMembre.codeDepartement}" width=5%> </td>
													<td th:text="${odkMembre.departement}" ></td>
													<td th:text="${odkMembre.codeSousprefecture}" width=5%></td>
													<td th:text="${odkMembre.sousprefectures}" ></td>
													<td th:text="${odkMembre.codeLocalite}" width=5%></td>
													<td th:text="${odkMembre.codeLocalite}" ></td>
													<td th:text="${odkMembre.villageQuartier}"></td>
												</tr>
											</tbody>
										</table>
								    </div>
								</div>	
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="x_panel">
										<div class="x_title">
											<b><font color="orange" size="4">Information Ménage</font></b>
											<div class="clearfix"></div>
										</div>											    
										<table class="table table-striped table-bordered jambo_table bulk_action"  width="100%">
											<tr>
												<td>
													<label >Id Ménage</label>
													 <input type="text" id="last-name" name="last-name" class="form-control col-md-7 col-xs-12" disabled="disabled" th:field="*{idMenage}">									
												</td>
																						
											</tr>									
										</table >
									</div>
								</div>	
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="x_panel">
										<div class="x_title">
											<b><font color="orange" size="4">Détails Membre</font></b>
											<div class="clearfix"></div>
										</div>											    
										<table class="table table-striped table-bordered jambo_table bulk_action"  width="100%">
											<tr>
												<td>
													<label >Id Membre</label>
													 <input type="text" class="form-control" disabled="disabled" th:field="*{idMembre}">								
												</td>
												<td>
													<label >Nom</label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{nom}">				
												</td>											
												<td>
													<label for="fullname">Prénoms</label> 
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{prenoms}">								
												</td>
												<td>
													<label >Surnom</label> 
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{membreSurnom}">					
												</td>
												
												<td>
													<label >Lien Menage</label> 
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{membreLien}">					
												</td>											
											</tr>
										
											<tr>	
												<td>
													<label >Date de naissance</label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{datedenaissance}">			
												</td>
												<td>
													<label >Lieu de Naissance </label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{lieudenaissance}">		
												</td>																							
												
												<td>
													<label >Genre</label> 
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{genre}">
												</td>	
												<td>
													<label >Situation Matimonial</label> 
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{statutmatrimonial}">
												</td>	
												
												<td>
													<label >Profession</label> 
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{profession}">
												</td>
											</tr>	
											<tr>	
												<td>
													<label > Niveau d'Etude </label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{niveauEtude}">	
												</td>	
												<td>
													<label >Capacité SMS </label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{capaciteSms}">		
												</td>	
												<td>
													<label> Activité Membre</label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{activiteCm}">	
												</td>													
												<td>
													<label> Activité si Independant</label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{travailleurIndependant}">
												</td>	
												<td>
													<label> Statut Résidence</label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{membreStatutResidence}">		
												</td>	
										
											</tr>												
											<tr>
												<td>
													<label >Nom du Père</label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{nometprenomsdupere}">		
												</td>	
												<td>
													<label >Nom De la mere</label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{nometprenomsdelamere}">	
												</td>	
												<td>
													<label >Nationalité </label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{nationalite}">
												</td>													
												<td>
													<label >Type de Piède</label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{typePiecedidentite}">
												</td>
												<td>
													<label >N° Pièce </label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{numeroCni}">	
												</td>	
											</tr>

											<tr>
												<td>
													<label >Membre scolarisé</label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{membreScolarise}">		
												</td>	
												<td>
													<label >Numéro Téléphone1</label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{numero1}">	
												</td>	
												<td>
													<label >Numéro Téléphone2</label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{numero2}">
												</td>													
												<td>
													<label >Ecole Actuelle</label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{ecoleActuelle}">
												</td>
												<td>
													<label >Id Photo</label>
													<input type="text" class="form-control" id="inputSuccess3" disabled="disabled" th:field="*{idphoto}">	
												</td>	
											</tr>			
											
										</table >
									</div>
								</div>		
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="x_panel">
										<div class="x_title">
											<b><font color="orange" size="4">Information de vulnérabilité du membre</font></b>
											<div class="clearfix"></div>
										</div>											    
										<table class="table table-striped table-bordered jambo_table bulk_action"  width="100%">
											<tr>
												<td>
													<label >Cas de maladie (3 dernier mois)</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{tomberMalade}">				
												</td>
												<td>
													<label >si oui à t'il consulter un centre de santé</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{consulterPersonnel}">				
												</td>												
												<td>
													<label >Si Oui Mode de reglément des soins?</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{priseEnchargeSoin}">
												</td>											
											</tr>	
											<tr>
												<td>
													<label >Le membre est- elle Enceinte?</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{etreEnceinte}">			
												</td>
												<td>
													<label >A t'il un carnet de santé?</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{avoirCarnet}">			
												</td>												
												<td>
													<label >Etre vacciné?</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{etreVacciner}">
												</td>											
											</tr>	
											<tr>
												<td>
													<label >Avoir une maladie chronique</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{avoirMaladieChronique}">	
												</td>
												
												<td>
													<label >Etre handicap?</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{etreHandicaper}">	
												</td>
												
												<td>
													<label >Etre handicap autre?</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{etreHandicaperAutre}">	
												</td>
																					
											</tr>			

												<tr>
												<td>
													<label >Souffrir handicap?</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{souffrirHandicap}">	
												</td>
												
												<td>
													<label >Incapacité activité managère?</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{incapaciteActiviteMenageres}">	
												</td>
												
												<td>
													<label >Incapacité à travailler?</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{incapaciteATravailler}">	
												</td>
																					
											</tr>
											
											<tr>
												<td>
													<label >incapacite A aller A lecole?</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{incapaciteAallerAlecole}">	
												</td>
												
												<td>
													<label >incapacite A s'habiller?</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{incapaciteAshabiller}">	
												</td>
												
												<td>
													<label >incapacite A Se nourrir?</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{incapaciteASenourrir}">	
												</td>
																					
											</tr>
											
											<tr>
												<td>
													<label >incapacite A Se laver?</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{incapaciteASelaver}">	
												</td>
												
												<td>
													<label >ameliorer Capacité</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{ameliorerCapacite}">	
												</td>
												
												<td>
													<label >consulter Personnel?</label>
													<input type="text" class="form-control" disabled="disabled" th:field="*{consulterPersonnel}">	
												</td>
																					
											</tr>
											
										</table >
									</div>
								</div>									
							</form>	
						</div>	
					</div>	
				</div>		
            </div>
			<div class="alert alert-warning alert-dismissible fade in" style="background-color: Gainsboro; align: center" >
				<center>
					<a onclick = "history.back()" class="btn btn-warning" >Retour</a>
				</center>
			</div>
       </div>     
    
    <!-- /page content -->
	</body>
</html>