	<!DOCTYPE html>
	<html lang="en" data-layout-decorate="~{fragment/layout}">   

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link th:href="@{/build/css/custom.min.css}" rel="stylesheet">
		<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

		<body class="nav-md">   
		<!-- page content -->
			<div class="x_panel">
				<div class="x_title">
					<b><font color="orange"><font face=Castellar><font size="5"><center>DETAILS SUR LA PLAINTE PAR REGION</center></font></font></font></b>
				</div>		
				<div class="right_col" role="main" style="min-height: 809px;" data-layout-fragment="content">
					<div class="col-md-12 col-sm-12 col-xs-12">
		
					</div>
					<br/>
					<div class="clearfix"></div>	
					<center>
					<div class="x_content">
						<table id="datatable-buttons" class="table table-striped jambo_table bulk_action" width="90%">
							<thead>
								<tr heigth="5px">
									<th >N°Painte</th>
									<th >Description</th>
									<th >Plaignant</th>
									<th>Lieu</th>
									<th>Moment</th>
									<th >Localite</th>
									<th>date signalement</th>
									                       
								</tr>
							</thead>
							<tbody>
								<tr th:each="PrgSuiviPlainteView,iterStat:${listPlainteDetails}">
									<td th:text="${PrgSuiviPlainteView.numPlainte}"></td>
									<td th:text="${PrgSuiviPlainteView.description}"></td>
									<td th:text="${PrgSuiviPlainteView.fNomPlaingnant}"></td>
									<td th:text="${PrgSuiviPlainteView.libelleLieu}"></td>
									<td th:text="${PrgSuiviPlainteView.libelleMoment}"></td>
									<td th:text="${PrgSuiviPlainteView.nomLocalite}"></td>
									<td th:text="${PrgSuiviPlainteView.dateSignal}"></td>
									 
      
								</tr>
							</tbody>
						</table>
							<table class="table table-hover table-striped table-bordered table-advanced tablesorter">
									<tr>
										<td align="center">	
											<a class="btn btn-info btn-xs"  th:href="@{/admin/PrgSuiviPlainteAnneeRegionView/}" ><i class="fa fa-edit"></i>&nbsp;
											Retour 
											</a> 
										</td>		
									</tr>
								</table>

					</div>
					</center>
				</div>
			</div>
		<!-- /page content -->

		</body>
	</html>