<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">   
    
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

	<body class="nav-md">
         <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content">
			<div class="page-title">
				<div class="title_center">
					<b><font color="orange" size="5"><center>DETAILS MENAGE</center></font></b>
				</div>
			</div>
			<div class="alert alert-warning alert-dismissible fade in" style="background-color: Gainsboro; align: center" >
				<center>
					<a onclick = "history.back()" class="btn btn-warning">Retour</a>
				</center>
			</div>

            <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_content">
							<form class="form-horizontal form-label-left" th:object="${rsuMenageView}" th:action="@{/admin/rsuMenageView}"  method="post"   novalidate>
								<div class="col-md-12 col-sm-12 col-xs-12">								
									<div class="x_panel">
										<div class="x_title">
										   <b><font color="orange" size="4">Localisation du ménage</font></b>
											<div class="clearfix"></div>
									    </div>								
										<table class="table table-striped table-bordered jambo_table bulk_action">
											<thead>
												<tr class="headings">
													<th colspan=2 class="column-title" >Région</th>
													<th colspan=2 class="column-title" >Département</th>
													<th colspan=2 class="column-title" >Sous Préfecture</th>
													<th colspan=2 class="column-title" >Localié</th>  
                                                    <th class="column-title" >Vilage</th>     													
												</tr>
											</thead>

											<tbody>
												<tr class="even pointer">
													<td th:text="${rsuMenageView.codRegion}" width=5%> </td>
													<td th:text="${rsuMenageView.nomRegion}" ></td> 
													<td th:text="${rsuMenageView.codDepartement}" width=5%> </td>
													<td th:text="${rsuMenageView.nomDepartement}" ></td>
													<td th:text="${rsuMenageView.codSPref}" width=5%></td>
													<td th:text="${rsuMenageView.nomSPref}" ></td>
													<td th:text="${rsuMenageView.codLocalite}" width=5%></td>
													<td th:text="${rsuMenageView.nomLocalite}" ></td>
													<td th:text="${rsuMenageView.villageQuartier}"></td>
												</tr>
											</tbody>
										</table>
								    </div>
								</div>	
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="x_panel">
										<div class="x_title">
											<b><font color="orange" size="4">Information Ménage</font></b>
											<div class="clearfix"></div>
										</div>											    
										<table class="table table-striped table-bordered jambo_table bulk_action"  width="100%">
											<tr>
												<td>
													<label >Id Ménage</label>
													 <input type="text" id="last-name" name="last-name" class="form-control col-md-7 col-xs-12" disabled="disabled" th:field="*{codMenage}">									
												</td>
												<td>
													<label >Nom Chef Ménage</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{nomChefMenage}">			
												</td>												
												<td>
													<label >Ilot</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{ilot}">			
												</td>											
												<td>
													<label >Batiment</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{batiment}">			
												</td>	
												<td>
													<label >Logement</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{logement}">			
												</td>												
											</tr>									
										</table >
									</div>
								</div>	
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="x_panel">
										<div class="x_title">
											<b><font color="orange" size="4">Détails Logement</font></b>
											<div class="clearfix"></div>
										</div>											    
										<table class="table table-striped table-bordered jambo_table bulk_action"  width="100%">
											<tr>
												<td>
													<label >Nombre de Chambre</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{logemementChambres}">			
												</td>												
												<td>
													<label >Type de Mur</label>
													 <input type="text" id="last-name" name="last-name" class="form-control col-md-7 col-xs-12" disabled="disabled" th:field="*{libelleLogMur}">									
												</td>
												<td>
													<label >Type de Toit</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{libelleLogToit}">			
												</td>												
												<td>
													<label >Type de Sol</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{libelleLogSol}">			
												</td>																						
											</tr>	
											<tr>
												<td>
													<label >Source d'eau</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{libelleLogEau}">			
												</td>												
												<td>
													<label >Type de Douche</label>
													 <input type="text" id="last-name" name="last-name" class="form-control col-md-7 col-xs-12" disabled="disabled" th:field="*{libelleLogDouche}">									
												</td>
												<td>
													<label >Type de Toilette</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{libelleLogToilette}">			
												</td>												
												<td>
													<label >Ordure</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{libelleLogOrdure}">			
												</td>																						
											</tr>											
										</table >
									</div>
								</div>	
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="x_panel">
										<div class="x_title">
											<b><font color="orange" size="4">Détails Logement</font></b>
											<div class="clearfix"></div>
										</div>											    
										<table class="table table-striped table-bordered jambo_table bulk_action"  width="100%">
											<tr>
												<td>
													<label>à Tabouret </label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libLTabouret}" >
												</td>
												<td>
													<label>à Table</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libLlTable}" >
												</td>
												<td>
													<label>à Fauteuil</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libLFauteuil}" >
												</td> 
												<td>
													<label>à Portable</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libAPortable}" >
												</td> 
												<td>
													<label>à TV</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libATv}" >
												</td>
												<td>
													<label>à Radio</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libARadio}" >
												</td>
											</tr>
											<tr>											
												<td>
													<label>à Ordinateur</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libAOrdinateur}" >
												</td>
												<td>
													<label>à Cuisinière</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libACuisiniere}" >
												</td>
												<td>
													<label>à Antenne Parabolique</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libAAntenneParabolique}" >
												</td>
												<td>
													<label>à Appareil Photo Numérique</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libAAppPhotoNum}" >
												</td>			
												<td>
													<label>à Voiture</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libAVoiture}" >
												</td>
												
												<td>
													<label>à Moto</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libAMoto}" >
												</td>
											</tr>
											<tr>													
												<td>
													<label>à Brouette</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libABrouette}" >
												</td>
												<td>
													<label>à Lit</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libALit}" >
												</td>
												<td>
													<label>à natte</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libANatte}" >
												</td>
												<td>
													<label>à sceau</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libASceau}" >
												</td>
												
												<td>
													<label>à Chaise </label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libAChaiseAutre}" >
												</td>
												<td>
													<label>à bateau</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libABateauDePeche}" >
												</td>
											</tr>
											<tr>													
												<td>
													<label>à Fer à Repasser</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libAFerARepasser}" >
												</td>
												<td>
													<label>à Vélomoteur</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libAVelomoteur}" >
												</td>
												
												<td>
													<label>à Drap </label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libADrapEtCouverture}" >
												</td>
												<td>
													<label>à Salon Ordinaire</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libASalonOrdinaire}" >
												</td>
												<td>
													<label>à pilon et Mortier</label> 
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled"  th:field="*{libAPilonEtMortier}" >
												</td>	
												<td>	
												</td>
											</tr>											
										</table>
									</div>
								</div>	
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="x_panel">
										<div class="x_title">
											<b><font color="orange" size="4">Détails Ciblage</font></b>
											<div class="clearfix"></div>
										</div>											    
										<table class="table table-striped table-bordered jambo_table bulk_action"  width="100%">
											<tr>
												<td>
													<label >Date Début</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{dateHeurDebut}">			
												</td>												
												<td>
													<label >Date Fin</label>
													 <input type="text" id="last-name" name="last-name" class="form-control col-md-7 col-xs-12" disabled="disabled" th:field="*{dateHeurFin}">									
												</td>
												<td>
													<label >Id Sim</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{idsim}">			
												</td>												
												<td>
													<label >N° Appareil</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{numAppareil}">			
												</td>																						
											</tr>	
										</table >
									</div>
								</div>	
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="x_panel">
										<div class="x_title">
											<b><font color="orange" size="4">Coordonnées GPS</font></b>
											<div class="clearfix"></div>
										</div>											    
										<table class="table table-striped table-bordered jambo_table bulk_action"  width="100%">
											<tr>
												<td>
													<label >Latitude</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{gpsLatitude}">			
												</td>												
												<td>
													<label >Longitude</label>
													 <input type="text" id="last-name" name="last-name" class="form-control col-md-7 col-xs-12" disabled="disabled" th:field="*{gpsLongitude}">									
												</td>
												<td>
													<label >Altitude</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{gpsAltitude}">			
												</td>												
												<td>
													<label >Accuracy</label>
													<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" disabled="disabled" th:field="*{gpsAccuracy}">			
												</td>																						
											</tr>	
										</table >
									</div>
								</div>	
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="x_panel">
										<div class="x_title">
											<b><font color="orange" size="4">Membre du Ménage </font></b>
											<div class="clearfix"></div>
										</div>											    
										<table class="table table-striped table-bordered jambo_table bulk_action"  width="100%">
											<thead>
												<tr class="headings">
													<th class="column-title" >Id</th>
													<th class="column-title" >Nom</th>
													<th class="column-title" >Prenom</th>
													<th class="column-title" >Genre </th>
													<th class="column-title" >Lien </th>                      
												</tr>
											</thead>
											<tbody>
												<tr th:each="rsuMembreMenageView,iterStat:${allRsuMembreMenageView}">
													<td align="center"  th:text="${rsuMembreMenageView.idMembre}" width=5%> </td>		
													<td th:text="${rsuMembreMenageView.nomMembre}" width=5%> </td>
													<td th:text="${rsuMembreMenageView.prenomMembre}"width=5% ></td> 
													<td align="center" th:text="${rsuMembreMenageView.libGenre}" width=5%> </td>
													<td th:text="${rsuMembreMenageView.libelleLien}" width=5%></td>
													
												</tr>
											</tbody>
										</table >
									</div>
								</div>		
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="x_panel">
										<div class="x_title">
											<b><font color="orange" size="4">Score Ménage par Model PMT </font></b>
											<div class="clearfix"></div>
										</div>											    
										<table class="table table-striped table-bordered jambo_table bulk_action"  width="100%">
											<thead>
												<tr class="headings">
													<th align="center"  class="column-title" >Score Model 1</th>
													<th align="center"  class="column-title" >Score Model 2</th>
													<th align="center"  class="column-title" >Score Model 3</th>
													<th align="center"  class="column-title" >Score Model 4</th>
													<th align="center"  class="column-title" >Score Model 5</th>                      
												</tr>
											</thead>
											<tbody>
												<tr>		
													<td th:each="rsuMenageScorePmt,iterStat:${allRsuMenageScorePmt}" align="center" th:text="${rsuMenageScorePmt.scoreModelPmt}" width=3%> </td>

												</tr>
											</tbody>
										</table >
									</div>
								</div>									
							</form>	
						</div>	
					</div>	
				</div>		
            </div>
			<div class="alert alert-warning alert-dismissible fade in" style="background-color: Gainsboro; align: center" >
				<center>
					<a onclick = "history.back()" class="btn btn-warning">Retour</a>
				</center>
			</div>
       </div>     
    
    <!-- /page content -->
	</body>
</html>