<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">   
    
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

	<body class="nav-md">

     
        <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content">
			<div class="">
            
			<div class="clearfix">
			</div>

            <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<b><font color="orange"><font face=Castellar><font size="5"><center>MODIFICATION DES PRESTATIONS</center></font></font></font></b>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
                  
						<div class="x_content">
							<form class="form-horizontal form-label-left " th:object="${prgPrestation}" th:action="@{/admin/editPrgPrestation/__${prgPrestation.idPrgPrestation}__/__${prgPrestation.codProgramme}__}" method="post"   novalidate>	
									
							             <div class="item form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Code prestation programme <span class="required">*</span>
												</label>
												<div class="col-md-6 col-sm-6 col-xs-12">
												<input id="f_idPrestPrg" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"  data-validate-words="2" name="name" placeholder="Code prestation programme" required="required" type="text" th:field="*{idPrgPrestation}" readonly="readonly">
												</div>
											</div>
								 
								 
								 
											<div class="item form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Code Programme <span class="required">*</span>
												</label>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<select class="form-control" name="codprg" th:field="*{codProgramme}" >
															<option th:each="sigProgramme:${allSigProgramme}" 
															th:value="${sigProgramme.getCodProgramme()}" 
															th:text="${sigProgramme.getLibelleProgramme()}"> 
															</option>
													</select>
												</div>
											</div>  
											
											<div class="item form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Type Prestation<span class="required">*</span>
											</label>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<select class="form-control" name="codeLoc" th:field="*{codTypPrestation}" >
														<option value="NONE">..Type Prestation ...</option>  
															<option th:each="sigTypePrestation:${allSigTypePrestation}" 
															th:value="${sigTypePrestation.getCodTypPrestation()}" 
															th:text="${sigTypePrestation.getLibelleTypPrestation()}"> 
															</option>
													</select>
												</div>
											</div>  
											
											

											<div class="item form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nature prestation <span class="required">*</span>
												</label>
												<div class="col-md-6 col-sm-6 col-xs-12">
												<input id="f_natPrest" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"  data-validate-words="2" name="name" placeholder="Nature prestation" required="required" type="text" th:field="*{prestationNature}">
												</div>
											</div> 

											


											<div class="item form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Montant Prestation <span class="required">*</span>
												</label>
												<div class="col-md-6 col-sm-6 col-xs-12">
												<input id="f_montPrest" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"  data-validate-words="2" name="name" placeholder="Montant Prestation" required="required" type="number" th:field="*{montantEspece}">
												</div>
											</div> 

											<div class="item form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Periodicité Prestation<span class="required">*</span>
												</label>
												<div class="col-md-6 col-sm-6 col-xs-12">
												<input id="f_periodPrest" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"  data-validate-words="2" name="name" placeholder="Periodicité  de la Prestation" required="required" type="text" th:field="*{periodicite}">
												</div>
											</div>  

                    				
										<div class="ln_solid"></div> 
									<div class="alert alert-warning alert-dismissible fade in" style="background-color: Gainsboro; align: center" >
                                         <center>
										    <a onclick = "history.back()" class="btn btn-warning">Retour</a>
											<a href="javascript:window.location.reload()" class="btn btn-default">Annuler</a>
											<button id="send" type="submit" class="btn btn-success">Enregistrer</button>
											</center>

									</div>
										
										
							</form>
						</div>
                    
					</div>
                </div>
            </div>
        </div>
    <!-- /page content -->
	</body>
</html>