<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">   
    
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

	<body class="nav-md">
        <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content">
			<div class="">
				<div class="clearfix"> </div>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<b><font color="orange"><font face=Castellar><font size="5"><center>MODIFICATION DES RECIPIENDAIRES</center></font></font></font></b>
								<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
								</li>
								</ul>
								<div class="clearfix"></div>
							</div>


							<div class="x_content">
								<form class="form-horizontal form-label-left " th:object="${PrgRecipiendaire}" th:action="@{/admin/editPrgRecipiendaire/__${PrgRecipiendaire.idRecipiendaire}__}" method="post" novalidate enctype="multipart/form-data">
									<table BORDER WIDTH="100%" >        
										<tr>
											<td colspan=3 bgcolor="orange">
												<font color="black"><center><label for="titre1">INFOS RECIPIENDAIRE </label ></center></font>
											</td>
										</tr> 
										<tr>
											<td  align="right"><label  for="dept">Nom Récipiendaire Membre :</label></td>
											<td align="left" >
												<select class="form-control" name="idMembre" th:field="*{idMembre}"> 
					                                            <option th:each="prgRecipiendaireView:${allPrgRecipiendaire}" 
					                                                    th:value="${prgRecipiendaireView.getIdRecipiendaire()}" 
					                                                    th:text="${prgRecipiendaireView.getNomRecipiendaire()+' {'+prgRecipiendaireView.getIdRecipiendaire()+'}' }" > 
					                                                    
					                                            </option>	
												</select>
											</td>
											<form method="POST" th:action="@{/admin/upload}" enctype="multipart/form-data">
												<td  colspan=3 > 
													<center>
													<input class="form-control" type="file" name="file" id="file" >
													</center>
												</td>
											</form>																					
										</tr> 
										
										<tr>	
											<td  align="right"><label  for="dept">Agence de Paiement : </label></td>
											<td  align="left" >
												<select class="form-control" name="codAp" th:field="*{codAp}">
													<option th:each="SigAgencePaiement:${allSigAgencePaiement}" 
														th:value="${SigAgencePaiement.getCodAp()}" 
														th:text="${SigAgencePaiement.getRaisonSocialAp() }" > 	
													</option>
												</select>
											</td>
																					
											<td rowspan=4 >
												<center>
													<img height="250" width="150" th:src="@{__${PrgRecipiendaire.photoRecip}__}"/> <!--th:attr="src=@{'/images/' + ${PrgRecipiendaire.photoRecip} }" />-->
											    </center>
											</td>												
										</tr>
										<tr>																															<tr>							
											<td align="right"><label  for="dept">Téléphone : </label></td>
											<td align="left" ><input class="form-control" th:field="*{telRecipiendaire}" > </td>
										</tr>
										<tr>							
											<td align="right"><label  for="dept">Nom Photo : </label></td>
											<td align="left" ><input class="form-control" th:field="*{photoRecip}" > </td>
										</tr>										
									</table>	  
									<div class="ln_solid"></div>
									<div class="alert alert-warning alert-dismissible fade in" style="background-color: Gainsboro; align: center" >
										<center>
										    <a onclick = "history.back()" class="btn btn-warning">Retour</a>
											<a href="javascript:window.location.reload()" class="btn btn-default">Annuler</a>
											<button id="send" type="submit" class="btn btn-success">Enregistrer</button>
											</center>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<!-- /page content -->
	</body>
</html>