<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">   
  
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link th:href="@{/build/css/custom.min.css}" rel="stylesheet">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
  </head>

  <body class="nav-md">   
        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 809px;" data-layout-fragment="content">
			
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<b><font color="orange"><font face=Castellar><font size="4"><center>LISTE DES PAIEMENTS EN ATTENTES</center></font></font></font></b>
						<ul class="nav navbar-right panel_toolbox">
						  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<center>
					<div class="x_content">
     						<table id="datatable-buttons" class="table table-striped jambo_table bulk_action" width="90%">
							<thead>
								<tr heigth="5px">
									 <th >Année</th>
									 <th>Période</th>
									 <th>Début</th>
									 <th>Fin</th>
									 <th>Libellé</th>
									 <th>Code</th>
									 <th>Raison Social</th>
									 <th>Effectif Total</th>
									 <th>Total Ap</th>
									 <th>Total Viré</th>
									 <th >Actions</th>                       
								</tr>
							</thead>
							<tbody>
								<tr heigth=2% th:each="prgPaiementAttenteView,iterStat:${allPrgPaiementAttenteView}">
								    <td  th:text="${prgPaiementAttenteView.anneePeriode}" width=5%> </td>
									<td  th:text="${prgPaiementAttenteView.codPeriode}" width=10%> </td>
									<td  th:text="${prgPaiementAttenteView.dateDebEmm}" width=10%> </td>
									<td  th:text="${prgPaiementAttenteView.dateFinEmm}" width=10%> </td>
									<td  th:text="${prgPaiementAttenteView.libellePeriode}" > </td>
									<td  th:text="${prgPaiementAttenteView.codAp}" > </td>
									<td  th:text="${prgPaiementAttenteView.raisonSocialAp}" width=10%> </td>
									<td  th:text="${prgPaiementAttenteView.effAp}" width=10%> </td>
									<td  th:text="${prgPaiementAttenteView.totAp}" width=5%> </td> 
									<td  th:text="${prgPaiementAttenteView.totalVire}" width=5%> </td>                    									
									<td width=30% allign="center">
										<center>
										<a class="btn btn-info btn-xs" th:href="@{/admin/prgVirementUgp/__${prgPaiementAttenteView.codPeriode}__/__${prgPaiementAttenteView.codAp}__}"><i class="fa fa-edit"></i>
											Details  
									    </a>
										</center>            
									</td><!---->
								</tr>
							</tbody>
						</table>
						
					  </div>
					  </center>
				</div>
			</div>
		</div>
        <!-- /page content -->

    </body>
</html>