<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">   
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<meta charset="utf-8">    
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<link th:href="@{/build/css/custom.min.css}" rel="stylesheet">
			<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
		</head>

		<body class="nav-md">   
			<!-- page content -->
			<div class="right_col" role="main" style="min-height: 809px;" data-layout-fragment="content"  >
					<br/>
					<div class="col-md-12 col-sm-12 col-xs-12">
							
							<div class="x_panel">
								<div class="x_title">
									<b><font color="orange"><font face=Castellar><font size="4"><center>LISTE DES PLAINTES EN ATTENTE DE VALIDATION</center></font></font></font></b>
									<ul class="nav navbar-right panel_toolbox">
									<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								
								<center>
									<div class="x_content">

									<table id="datatable-buttons" class="table table-striped jambo_table bulk_action" width="95%" data-mode="columntoggle" >
										<thead>
										<strong><tr heigth="5px">
											<th align="center">N° Plainte</th>
											<th align="center">Localité </th>
											<th align="center">Date Signalement </th>
											<th align="center">Catégorie </th>
											<th align="center">Type </th>
											<th align="center">Confidentiel? </th>											
											<th align="center">Mode Saisine </th>
											<th align="center">Grave</th>
											<th align="center">Plaignant </th>
										    <center>
										       <th align="right">Actions</th>
										     </center>
											
										</strong></tr>
										</thead>
										
										<tbody>
											<tr heigth=2% th:each="prgPlainteNiv1View,iterStat:${allPrgPlainteNiv1View}">
												<td th:text="${prgPlainteNiv1View.numPlainte}" width=10% > </td>
												<td th:text="${prgPlainteNiv1View.nomLocalite}" width=15%  > </td>
												<td th:text="${prgPlainteNiv1View.dateSignal}" width=10% > </td>
												<td th:text="${prgPlainteNiv1View.libelleCatPlainte}" width=10% ></td>
												<td th:text="${prgPlainteNiv1View.libelleTypologie}" width=10% ></td>
												<td th:text="${prgPlainteNiv1View.libConfidPlainte}" width=10% ></td>
												<td th:text="${prgPlainteNiv1View.libelleModeSaisi}" width=10% ></td>
												<td th:text="${prgPlainteNiv1View.libGravitePlainte}" width=15% ></td>
												<td th:text="${prgPlainteNiv1View.fNomPlaingnant}" ></td>
												<td width=10%>
												 <center>
													<a th:href="@{/admin/PrgPlainteConsViewTrait1/1/__${prgPlainteNiv1View.numPlainte}__}" class="btn btn-info btn-xs">Analyser</a>
													
												 </center>
												</td>
											
											</tr>
										</tbody>
									</table>

								</div>
								</center>
							</div>
					</div>
			</div>
			<!-- /page content -->

		</body>
</html>