<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">   
    
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

	<body class="nav-md">
	 
	    
        <!-- page filtre -->
   <div class="right_col" role="main" style="min-height: 809px;" data-layout-fragment="content"> 
                           <br>

                             <div class="x_title">
						
							<b><font color="orange"><font face=Castellar><font size="4"><center>CONSULTATIONS REPORTING DE PAIEMENT </center></font></font></font></b>

						<ul class="nav navbar-right panel_toolbox">
						  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>		   
   
 <br>
		<b><font color="orange"><font face=Castellar><font size="4"><center>FILTRE</center></font></font></font></b>	
			<center>						    
				<div class="x_content" width="90%">
					<div class="portlet-header">
						
					<form class="form-horizontal form-label-left " id="dataPrgPaiementReportView" th:object="${SigFiltreRecherche}" th:action="@{/admin/prgPaiementReportViewCons/rech}" method="post" enctype="multipart/form-data" novalidate>
						<table class="table-striped jambo_table bulk_action" width="90%"  style="border-collapse: separate;  border-spacing: 10px; background-color: Lavender;">
							<tbody>
								<tr spacing="10px" padding="10px">
						
									 <td align="right">
										<label for="PDebut"><font color=black>Periode:</font></label>
									</td>	
										<td align="left">
									    <select class="form-control" name="PDebut" type="text" id="f_PDebut"  th:field="*{nomChefMenage}"  required="">
									      <option value="">Sélectionner une periode</option>
                                             <option  th:each="PrgEmmissionPeriodeView:${allPrgEmmissionPeriodeView}" 
                                                    th:value="${PrgEmmissionPeriodeView.getCodPeriode()}"
                                                    th:text="${PrgEmmissionPeriodeView.getLibellePeriode()}">
                                              </option>
                         				</select>											
									</td>
									
									<td align="right">
										<label for="fin Période"><font color=black>Agence Paiement:</font></label>
									</td>	
								<td>																				
									  <select class="form-control"  name="Agence de paiement"   type="text" id="f_ag_paiement"  th:field="*{codAp}" required="">
									      <option value="">Selectioner une agence de paiement</option>
                                             <option  th:each="SigAgencePaiement:${allSigAgencePaiement}" 
                                                    th:value="${SigAgencePaiement.getCodAp()}"
                                                    th:text="${SigAgencePaiement.getRaisonSocialAp()}">
                                             </option>
                                           </select> 							   
									</td>
							</tr>	
							<tr>		
									<td align="right">
										<label for="annee"><font color=black>Statut Paiement:</font></label>
									</td>	
									<td>
									  <select class="form-control" id="f_statut_paiement" th:field="*{statutMenage}" required="">
									      <option value="">Selectionner un état de paiement</option>
                                             <option value="OUI">Paiement éffectué</option>
                                             <option value="NON">Paiement non éffectué</option>
                         				</select>	
									</td>
									<td align="right">
										<label for="annee"><font color=black>Numéro Bénéficiaire:</font></label>
									</td>	
									<td>										
										<input class="form-control" type="text" placeholder="Numéro Compte Benef" name="Numéro Compte Benef" id="f_annee" th:field="*{villageQuartier}" required=""/>
									</td>								  
							
							</tr>
							
							</tbody>
						</table>
						</br>
						<center>
							<p><button target="submit" class="btn btn-success" style="background-color: #0099ff"><b>Rechercher</b></button></p>
						</center>
						</form>
						
					</div>
				
			</center>	

	   
	   <!-- page fin filtre -->
	    
					
			 <br/>
                
					<center>

				<br/>
				<div class="right_col" role="main" style="min-height: 809px;" data-layout-fragment="content2"> 
        			 <div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
							<div class="x_content">
							  
							  <table id="datatable-buttons"  class="table table-striped table-bordered  jambo_table bulk_action" width="100%">
							  <strong>
								    <thead>
								     <tr  heigth="5px">
										    <th><center>Periode</center></th>
											<th><center>Agence</center></th>
											<th><center>Compte Bénéficiaire</center></th>
											<th><center>Récipiendaire</center></th>
											<th><center>Id Transaction</center></th>
											<th><center>Statut Transaction</center></th>
											<!-- th><center>Paiement Effectué</center></th> -->
											<th><center>Montant Paiement</center></th>
											<th><center>Etat Paiement </center></th>
											
											 
										</tr>
									</thead>
									<tbody id="tbodyParams">
									       <tr th:each="prgPaiementReportView,i:${result}">
									        <td th:text="${prgPaiementReportView.libPeriode}" width=10%></td>
											<td th:text="${prgPaiementReportView.nomAp}" width=10%></td>
											<td th:text="${prgPaiementReportView.numCpteBenef}" align="center" width=8%></td>
											<td th:text="${prgPaiementReportView.nomRecipiendaire}" width=15%></td>
											<td th:text="${prgPaiementReportView.idTransaction}"></td>
											<td th:text="${prgPaiementReportView.libStatutTransaction}"></td>
											<!-- td th:text="${prgPaiementReportView.paiementEffectue}" align="center"></td> -->
											<td th:text="${prgPaiementReportView.montantPaiement}" align="center"  width=10%></td>
											<td th:text="${prgPaiementReportView.libEtatTraitement}"></td>
										  
									</tbody>
									</strong>
								</table>
							</div>
						</div>
					</div>
                  </center>
				</div>
			</div>
		</div>
    <!-- /page content -->
	</body>
</html>

