<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">    
    <meta charset="utf-8">
	     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <head>
		<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

	<body class="nav-md">
    
        <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content">

				<div class="clearfix"></div>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<b><font color="orange"><font face=Castellar><font size="5"><center>CHARGEMENT FICHIER REPORTING</center></font></font></font></b>
								<ul class="nav navbar-right panel_toolbox">
									<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<form class="form-horizontal form-label-left " th:action="@{/admin/prgPaiementReportUpLoadExcelCsv}" method="post"  enctype="multipart/form-data" th:object="${fileExcel}"   novalidate>
									
									 
									 <div class="item form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Agence  <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
											      <select class="form-control" name="codAp">
						                                     <option value="NONE">Agence</option>  
						                                            <option th:each="SigAgencePaiement:${allSigAgencePaiement}" 
						                                                    th:value="${SigAgencePaiement.getCodAp()}" 
						                                                    th:text="${SigAgencePaiement.getRaisonSocialAp() }" > 
						                                                    
						                                            </option>
						                                            
						                           </select>
											</div>
									</div> 
									
									
									<div class="item form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Période de Paiement  <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
											      <select class="form-control" name="codPeriode">
						                                     <option value="NONE">Période de paiement</option>  
						                                            <option th:each="SigEmmissionPeriode:${allSigEmmissionPeriode}" 
						                                                    th:value="${SigEmmissionPeriode.getCodPeriode()}" 
						                                                    th:text="${SigEmmissionPeriode.getLibellePeriode() }" > 
						                                                    
						                                            </option>
						                                            
						                           </select>
											</div>
									</div> 
									 
									 
									
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Uploader Fichier Excel  <span class="required">*</span>
										</label> 
							
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"  data-validate-words="2" name="name" placeholder="Choisir fichier Excel" required="required" type="file" th:field="*{fileModele}">
										</div>
									</div>  
									
									
								
						
									<div class="ln_solid"></div>
									<div class="alert alert-warning alert-dismissible fade in" style="background-color: Gainsboro; align: center" >
                                         <center>
                                         <a onclick = "history.back()" class="btn btn-warning">Retour</a>
										   	<a class="btn btn-default" th:href="@{/admin/prgPaiementReportUpLoadExcelCsv}">Annuler</a>
											<button id="send" type="submit" class="btn btn-success">Importer</button>											
										</center>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
        <!-- /page content -->

 
</body></html>