<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">   
<meta charset="utf-8">
	     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link th:href="@{/build/css/custom.min.css}" rel="stylesheet">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
  </head>

  <body class="nav-md">   
        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 809px;" data-layout-fragment="content">
			<br/>
			<div class="col-md-12 col-sm-12 col-xs-12">
			<a class="btn btn-large btn-success" th:href="@{/admin/PrgPlainte/add}">Ajouter une Plainte</a>
				<div class="x_panel">
					<div class="x_title">
						
						<b><font color="orange"><font face=Castellar><font size="4"><center>LISTE DES PLAINTES</center></font></font></font></b>
						<ul class="nav navbar-right panel_toolbox">
						  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					
						<center>
					<div class="x_content">
					
						<table id="datatable-buttons" class="table table-striped table-bordered jambo_table bulk_action" width="100%">
							<thead>
								<strong><tr heigth="5px">
								
									 <th><center>Numero Plainte</center></th>	
									 <th><center>Région</center></th>
									 <th><center>Département</center></th>	
									 <th><center>Sous Préfecture</center></th>					
									 <th><center>Localite</center></th>
									 <th><center>Signalé le</center></th>
									 <th><center>Enregistré le</center></th>
									 <th><center>Plaignant</center></th>
									 <th><center>Niveau Plainte</center></th>						   								       
									 <th><center>Actions</center></th>                     
								</tr>
							</thead>
							<tbody>
								<tr heigth=2% th:each="PrgPlainteView,iterStat:${allPrgPlainteView}">
									<td align="center" th:text="${PrgPlainteView.numPlainte}" width=8%> </td>	
									<td align="center" th:text="${PrgPlainteView.nomRegion}" width=10%> </td>
									<td align="center" th:text="${PrgPlainteView.nomDepartement}" width=10%> </td>
									<td align="center" th:text="${PrgPlainteView.nomSPref}" width=10%> </td>								
									<td align="center" th:text="${PrgPlainteView.nomLocalite}" width=10%> </td>
									<td align="center" th:text="${PrgPlainteView.dateSignal}"  width=5%></td>	
									<td align="center" th:text="${PrgPlainteView.dateEnregis}" width=5% ></td>	
									<td  th:text="${PrgPlainteView.fNomPlaingnant}" width=15%> </td>
									<td  th:text="${PrgPlainteView.libStatutPlainte}"> </td>
									                   									
									<td width=25% allign="center">
										<center>
											<a class="btn btn-info btn-xs" th:href="@{/admin/editPrgPlainte/__${PrgPlainteView.numPlainte}__/__${PrgPlainteView.codePlaignant}__/__${PrgPlainteView.codMenage}__}" onclick="return confirm('Voulez-vous modifier cette Plainte?')" ><i class="fa fa-edit"></i>Modifier</a>
											<a class="btn btn-danger btn-xs" th:href="@{/admin/PrgPlainte/delete/__${PrgPlainteView.numPlainte}__}" onclick="return confirm('Voulez-vous supprimer cette Plainte?')" ><i class="fa fa-trash-o"></i>Supprimer</a> 
											<a class="btn btn-warning" th:href="@{/admin/prgPlainteTraitement0/add/0/__${PrgPlainteView.numPlainte}__}" ></i>Traiter</a> 
									
										</center>            
									</td>
								</tr>
							</tbody>
						</table> 
						
					  </div>
					  </center>
				</div>
			</div>
		</div>
        <!-- /page content -->
         
         
         
    </body>
</html>