
<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">   
    
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

	<body class="nav-md">	 	    
   <!-- page debut filtre -->
   <div class="right_col" role="main" style="min-height: 809px;" data-layout-fragment="content">  <br/>    
       
		<b><font color="orange"><font face=Castellar><font size="4"><center>CONSULTATIONS DES PAIEMENTS PAR SOUS-PREFECTURE ET PAR PERIODE </center></font></font></font></b>

        <br/>
		<b><font color="orange"><font face=Castellar><font size="4"><center>FILTRE</center></font></font></font></b>	
			<center>						    
				<div class="x_content" width="95%">
					<div class="portlet-header">
					
					
						<form class="form-horizontal form-label-left " id="dataprgSuiviEvalPeriodeSPrefView" th:object="${SigFiltreRecherche}" th:action="@{/admin/prgSuiviEvalPeriodeSPrefView/rech}" method="post" enctype="multipart/form-data" novalidate>	
						<table class="table-striped jambo_table bulk_action" width="70%"  style="border-collapse: separate;  border-spacing: 10px; background-color: Lavender;">
							<tbody>
								<tr spacing="10px" padding="10px">
									 	<td align="right">
										<label for="PDebut"><font color=black>Periode Debut:</font></label>
									</td>	
									<td align="left" colspan=2>
									    <select class="form-control" name="PDebut" type="text" id="f_PDebut"  th:field="*{anneeDebut}"  required="">
									      <option value="">Selectioner une periode Debut</option>
                                             <option  th:each="PrgEmmissionPeriodeView:${allPrgEmmissionPeriodeView}" 
                                                    th:value="${PrgEmmissionPeriodeView.getIdPeriode()}"
                                                    th:text="${PrgEmmissionPeriodeView.getLibellePeriode()}">
                                              </option>
                         				</select>											
									</td>
									<td align="right">
										<label for="PFin"><font color=black>Periode Fin:</font></label>
									</td>	
									<td align="left" colspan=2>
									    <select class="form-control" name="PFin" type="text" id="f_PFin"  th:field="*{anneeFin}"  required="">
									      <option value="">Selectioner une periode Fin</option>
                                               <option  th:each="PrgEmmissionPeriodeView:${allPrgEmmissionPeriodeView}" 
                                                    th:value="${PrgEmmissionPeriodeView.getIdPeriode()}"
                                                    th:text="${PrgEmmissionPeriodeView.getLibellePeriode()}">
                                              </option>
                         				</select>											
									</td>
									
									</tr>
									<tr>
									
									
									<td align="right">
										<label for="Region"><font color=black>Région:</font></label>
									</td>	
									<td align="left">
									    <select class="form-control" name="Region" type="text" id="f_region"   th:field="*{codRegion}" required="">
										      <option value="">Selectioner une Région</option>
	                                            <option th:each="SigRegion:${allSigRegion}" 
	                                                    th:value="${SigRegion.getCodRegion()}"
	                                                    th:text="${SigRegion.getNomRegion()}">
	                                            </option>
                         				</select>											
									</td>
									
							
                                    <td align="right">
										<label for="Département"><font color=black>Département:</font></label>
									</td>	
									<td align="left">
									    <select class="form-control" name="Département" type="text" id="f_departement" th:field="*{codDepartement}" required="">
										      <option value="">Selectioner un Département</option>
	                                             <option  th:each="SigDepartement:${allSigDepartement}" 
	                                                     th:value="${SigDepartement.getCodDepartement()}"
	                                                     th:text="${SigDepartement.getNomDepartement()}">
	                                            </option>
                         				</select>														
									</td>
									
									<td align="right">
										<label for="Sous-Préfecture"><font color=black>Sous-Préfecture:</font></label>
									</td>	
									<td align="left">
									    <select class="form-control" name="Sous-Préfecture" type="text" id="f_s_prefecture" th:field="*{codSPref}" required="">
									      <option value="">Selectioner une Sous-Préfecture</option>
                                           <option  th:each="SigSousPrefecture:${allSigSousPrefecture}" 
                                                    th:value="${SigSousPrefecture.getCodSPref()}"
                                                    th:text="${SigSousPrefecture.getNomSPref()}">
                                              </option>
                         				</select>											
									</td>
									
								</tr>
								
							<input class="form-control" type="hidden"  value="FILTRE" name="paramchoix"/>
							</tbody>
						</table>
						</br>
						<center>
							<p><button target="submit"  class="btn btn-success" style="background-color: #0099ff"><b>Rechercher</b></button></p>
						</center>
						</form>
					</div>
				</div>
			</center>
            <br/>	
             <div class="col-md-12 col-sm-12 col-xs-12">
					<table width="100%">
						<tr>
							<td>
								<form th:object="${SigFiltreRecherche}" th:action="@{/admin/prgSuiviEvalPeriodeSPrefView/rech}" method="post" enctype="multipart/form-data" novalidate> 
									<input th:field="*{anneeDebut}"  type="hidden" class="form-control" id="f_PDebut"/>
									<input th:field="*{anneeFin}" type="hidden" class="form-control" id="f_PFin"/>
									<input th:field="*{codRegion}" type="hidden" class="form-control" id="f_region"/>
									<input th:field="*{codDepartement}" type="hidden" class="form-control" id="f_departement"/>
									<input th:field="*{codSPref}" type="hidden" class="form-control" id="f_s_prefecture"/>
									
									
									<input class="form-control" type="hidden"  value="EXCEL" name="paramchoix"/>
						
							<center>		<button type="submit"  class="btn btn-large btn-primary navbar-center"   ><b>Générer Excel</b></button>  	</center>
						
								</form>
								
							</td>
							
						</tr>
					</table>			
            				

         <!-- page fin filtre -->
        
        <!-- page detail fitre -->

        <!-- page content -->
       
			<div class="">
				<div class="x_title">
						
						
						<ul class="nav navbar-right panel_toolbox">
						  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<center>
<!--debut contenue ---------------------------------PAGE--><!--BEGIN CONTENT-->

				<br/>
			
				
				<div class="row-fluid sortable ui-sortable">		                                                            
					<div class="panel panel-yellow">
						<div class="panel-body">
							<div id="no-more-tables">
								<table id="datatable-fixed-header" border="1" class="table table-striped jambo_table bulk_action" width="70%">
								<thead >
									   		<tr>
									        <th rowspan="2"><center>Période</center></th>
									        <th rowspan="2"><center>Sous-Prefecture</center></th>
											<th colspan="6"><center>Total beneficiaire</center></th>
											<th colspan="6"><center>Total beneficiaire Femmes</center></th>
											<th colspan="6"><center>Total beneficiaire Hommes</center></th>
											<th rowspan="2"><center>Action</center></font></th>											
										</tr>
										<tr >
										    
										   
											
											<th colspan="1"><center>Nb total emission</center></th>
											<th colspan="1"><center>Montant total emission</center></th>
											<th colspan="1"><center>Nb total emission Payé</center></th>
											<th colspan="1"><center>Montant total Payé</center></th>
											<th colspan="1"><center>Nb total emission non Payées</center></th>
											<th colspan="1"><center>Montant total non Payé</center></th>
											<th colspan="1"><center>Nb total emission</center></th>
											<th colspan="1"><center>Montant total emission</center></th>
											<th colspan="1"><center>Nb total emission Payé</center></th>
											<th colspan="1"><center>Montant total Payé</center></th>
											<th colspan="1"><center>Nb total emission non Payées</center></th>
											<th colspan="1"><center>Montant total non Payé</center></th>
											<th colspan="1"><center>Nb total emission</center></th>
											<th colspan="1"><center>Montant total emission</center></th>
											<th colspan="1"><center>Nb total emission Payé</center></th>
											<th colspan="1"><center>Montant total Payé</center></th>
											<th colspan="1"><center>Nb total emission non Payées</center></th>
											<th colspan="1"><center>Montant total non Payé</center></th>
											
											
											
										</tr>
										
									</thead>
								<tbody id="tbodyParams">
									<tr th:each="prgSuiviEvalPeriodeSPrefView, i:${result}">
										    
											<td th:text="${prgSuiviEvalPeriodeSPrefView.libellePeriode}"width="5%" align="center" ></td>
											<td th:text="${prgSuiviEvalPeriodeSPrefView.nomSPref}"width="10%"></td>
											<td th:text="${prgSuiviEvalPeriodeSPrefView.nbTotalEmission}"width="5%" align="center" ></td>
											<td th:text="${prgSuiviEvalPeriodeSPrefView.mtTotalEmission}"width="5%" align="center" ></td>
											<td th:text="${prgSuiviEvalPeriodeSPrefView.nbTotalPaye}"width="5%" align="center" > </td>
											<td th:text="${prgSuiviEvalPeriodeSPrefView.mtTotalPaye}"width="5%" align="center" > </td>
											<td th:text="${prgSuiviEvalPeriodeSPrefView.nbTotalNonPaye}" width="5%" align="center" ></td> 
											<td th:text="${prgSuiviEvalPeriodeSPrefView.mtTotalNonPaye}" width="5%" align="center" ></td> 
											<td th:text="${prgSuiviEvalPeriodeSPrefView.nbTotalEmissionFemme}"width="5%" align="center" > </td>
											<td th:text="${prgSuiviEvalPeriodeSPrefView.mtTotalEmissionFemme}" width="5%" align="center" ></td>
											<td th:text="${prgSuiviEvalPeriodeSPrefView.nbTotalPayeFemme}" width="5%" align="center" ></td> 
											<td th:text="${prgSuiviEvalPeriodeSPrefView.mtTotalPayeFemme}"width="5%" align="center" > </td>
											<td th:text="${prgSuiviEvalPeriodeSPrefView.nbTotalNonPayeFemme}" width="5%" align="center" > </td>
											<td th:text="${prgSuiviEvalPeriodeSPrefView.mtTotalNonPayeFemme}" width="5%" align="center" > </td>
											<td th:text="${prgSuiviEvalPeriodeSPrefView.nbTotalEmissionHomme}" width="5%" align="center" ></td> 
											<td th:text="${prgSuiviEvalPeriodeSPrefView.mtTotalEmissionHomme}" width="5%" align="center" ></td>
											<td th:text="${prgSuiviEvalPeriodeSPrefView.nbTotalPayeHomme}" width="5%" align="center" ></td>
											<td th:text="${prgSuiviEvalPeriodeSPrefView.mtTotalPayeHomme}" width="5%" align="center" ></td>
											<td th:text="${prgSuiviEvalPeriodeSPrefView.nbTotalNonPayeHomme}" width="5%" align="center" ></td> 
											<td th:text="${prgSuiviEvalPeriodeSPrefView.mtTotalNonPayeHomme}" width="5%" align="center" ></td> 
											
											 
											 
											<td> 
												<table>
												<tr><td align="center">	
													<a class="btn btn-info btn-xs" th:href="@{/admin/detailPrgSuiviEvalBenefViewPSP/__${prgSuiviEvalPeriodeSPrefView.codPeriode}__/__${prgSuiviEvalPeriodeSPrefView.codSPref}__}"><i class="fa fa-edit"></i>&nbsp;
													Detail 
													</a>
										        </td></tr>
												</table>
											</td>
										</tr>
											</tbody>
									
								</table>
							</div>
						</div>
					</div>
					</div>
                  </center>
				</div>
			</div>
		</div>	
    <!-- /page content -->
	</body>
</html>

