
<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">   
    
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

	<body class="nav-md">
	 
	  
        <!-- page debut filtre -->
   <div class="right_col" role="main" style="min-height: 809px;" data-layout-fragment="content">  <br/>    
       
		<b><font color="orange"><font face=Castellar><font size="4"><center>SUIVI PLAINTE: ANALYSE PAR ANNEE </center></font></font></font></b>

        <br/>
		<b><font color="orange"><font face=Castellar><font size="4"><center>FILTRE</center></font></font></font></b>	
			<center>						    
				<div class="x_content" width="95%">
					<div class="portlet-header">
					
					
						<form class="form-horizontal form-label-left " id="dataRsuPlainteView" th:object="${SigFiltreRecherche}" th:action="@{/admin/prgSuiviPlainteAnneeView/rech}" method="post" enctype="multipart/form-data" novalidate>
						<table class="table-striped jambo_table bulk_action" width="90%"  style="border-collapse: separate;  border-spacing: 10px; background-color: Lavender;">
					 <tbody>
								<tr spacing="10px" padding="10px">
									<td align="right">
										<label for="Debannee"><font color=black> Année Debut :</font></label>
									</td>	
									<td align="left">										
										<input class="form-control" type="number" placeholder="DebAnnee" name="Debannee"   th:field="*{anneeDebut}" id="Debannee"/>
									</td>
									<td align="right">
										<label for="Finannee"><font color=black>Année Fin :</font></label>
									</td>	
									<td align="left">										
										<input class="form-control" type="number" placeholder="FinAnnee" name="Finannee"   th:field="*{anneeFin}" id="Finannee"/>
									</td>
									
									<input class="form-control" type="hidden"  value="FILTRE" name="paramchoix"/>
								</tr>
							</tbody>
						</table>
						</br>
						<center>
							<p><button target="submit"  class="btn btn-success" style="background-color: #0099ff"><b>Rechercher</b></button></p>
						</center>
						</form>
					</div>
				</div>
			</center>
            <br/>	
            <div class="col-md-12 col-sm-12 col-xs-12">
					<table width="100%">
						<tr>
							<td>
								<form th:object="${SigFiltreRecherche}" th:action="@{/admin/prgSuiviPlainteAnneeView/rech}" method="post" enctype="multipart/form-data" novalidate> 
									<input th:field="*{anneeDebut}"  type="hidden" class="form-control" id="Debannee" />
									<input th:field="*{anneeFin}" type="hidden" class="form-control" id="Finannee"  />
									
									
									
									<input class="form-control" type="hidden"  value="EXCEL" name="paramchoix"/>
						
							<center>		<button type="submit"  class="btn btn-large btn-primary navbar-center"   ><b>Générer Excel</b></button>  	</center>
						
								</form>
								
							</td>
							
						</tr>
					</table>			
            		

         <!-- page fin filtre -->
        
        <!-- page detail fitre -->

        <!-- page content -->
       
			<div class="">
				<div class="x_title">
						
						
						<ul class="nav navbar-right panel_toolbox">
						  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<center>
<!--debut contenue ---------------------------------PAGE--><!--BEGIN CONTENT-->

				<br/>
			
				
				<div class="row-fluid sortable ui-sortable">		                                                            
					<div class="panel panel-yellow">
						<div class="panel-body">
							<div id="no-more-tables">
								<table id="datatable-fixed-header" border="1" class="table table-striped jambo_table bulk_action" width="70%">
								<thead >
									 <tr>
										    <th colspan="1"><center>PERIODE</center></th>
											<th colspan="10"><center>PLAINTE</center></th>
											<th colspan="7"><center>TRAITEMENT</center></th>
											<th rowspan="3"><center>Action</center></font></th>
											
																						
										</tr>
										<tr >
										    <th colspan="1"><center>PERIODE</center></th>
			
											<th colspan="3"><center>Nombre de plainte</center></th>
											<th colspan="3"><center>Analyse par categorie</center></th>
											<th colspan="2"><center>Gravité</center></th>
											<th colspan="2"><center>Genre</center></th>
											<th colspan="1"><center></center></th>
											<th colspan="1"><center></center></th>
											<th colspan="1"><center></center></th>
											<th colspan="1"><center></center></th>
											<th colspan="3"><center>En cours</center></th>
											</tr>
											
											
											
											<tr>
											<th colspan="1"><center>Periode</center></font></th>
										
											<th colspan="1"><center>Nbre plainte</center></th>
											<th colspan="1"><center>Nbre plainte payé</center></th>
											<th colspan="1"><center>Nbre plainte non payé</center></th>
											<th colspan="1"><center>Ciblage</center></th>
											<th colspan="1"><center>Transfert monetaire</center></font></th>
											<th colspan="1"><center>Mesure accompagnement</center></font></th>
											<th colspan="1"><center>Majeur</center></font></th>
											<th colspan="1"><center>Mineur</center></font></th>
											<th colspan="1"><center>Homme</center></font></th>
											<th colspan="1"><center>Femme</center></font></th>
											<th colspan="1"><center>Resolue</center></th>
											<th colspan="1"><center>Taux resolution</center></font></th>
											<th colspan="1"><center>Nbre cloturé</center></font></th>
											<th colspan="1"><center>Nbre en cours</center></font></th>
											<th colspan="1"><center>Niveau 1</center></font></th>
											<th colspan="1"><center>Niveau 2</center></font></th>
											<th colspan="1"><center>Niveau 3</center></font></th>
											
										</tr>
									
										
									</thead>
							<tbody id="tbodyParams">
									    <tr th:each="prgSuiviPlainteAnneeView, i:${result}">
											<td th:text="${prgSuiviPlainteAnneeView.Annee}"></td>
											
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainte}"></td>
											<td th:text="${prgSuiviPlainteAnneeView.nbPlaintePaiement}"></td>
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainteNonPaiement}"> </td>
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainteEffFemme}"> </td>
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainteEffHomme}" ></td> 
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainteCiblage}"width="12%"> </td>
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainteTransfertMonetaire}" ></td>
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainteMesureAccompagnement}" ></td>
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainteMajeur}" > </td>
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainteMineur}" ></td> 
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainteResolue}" > </td>
											<td th:text="${prgSuiviPlainteAnneeView.tauxResolutionPlainte}" > </td>
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainteCloture}" ></td>
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainteEnCours}" ></td>
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainteTraitN1}" ></td>
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainteTraitN2}" ></td>
											<td th:text="${prgSuiviPlainteAnneeView.nbPlainteNTraitN3}" ></td>
												<td align="center">	
													<a class="btn btn-info btn-xs" th:href="@{/admin/prgSuiviPlainteAnneeView/__${prgSuiviPlainteAnneeView.annee}__}" align="center" ><i class="fa fa-edit"></i>&nbsp;
													<center>Detail </center>                          
													</a> 
										        </td>
												
											
										</tr>
											</tbody>
									
								</table>
							</div>
						</div>
					</div>
					</div>
                  </center>
				</div>
			</div>
		</div>	
    <!-- /page content -->
	</body>
</html>

