
<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">   
    
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

	<body class="nav-md">
	 
	    
        <!-- page debut filtre -->
   <div class="right_col" role="main" style="min-height: 809px;" data-layout-fragment="content">  <br/>    
       
		<b><font color="orange"><font face=Castellar><font size="4"><center>CONSULTATIONS DES PLAINTES PAR DEPARTEMENT ET PAR MOIS </center></font></font></font></b>

        <br/>
		<b><font color="orange"><font face=Castellar><font size="4"><center>FILTRE</center></font></font></font></b>	
			<center>						    
				<div class="x_content" width="95%">
					<div class="portlet-header">
					
					
						<form class="form-horizontal form-label-left " id="dataPrgSuiviPlainteMoisDepartementView" th:object="${SigFiltreRecherche}" th:action="@{/admin/prgSuiviPlainteMoisDepartementView/rech1}" method="post" enctype="multipart/form-data" novalidate>	
						<table class="table-striped jambo_table bulk_action" width="70%"  style="border-collapse: separate;  border-spacing: 10px; background-color: Lavender;">
							<tbody>
                           <tr spacing="10px" padding="10px">
									<tr spacing="10px" padding="10px">
									<td align="right">
										<label for="annee"><font color=black>Année:</font></label>
									</td>	
									<td align="left">										
										<input class="form-control" th:field="*{anneeDebut}" type="number" placeholder="Annee" name="annee" id="f_debut" required="" />
									</td>								
									<td align="right">
										<label for="Debut Periode"><font color=black>mois Debut:</font></label>
									</td>
                                     
									<td align="left">
									    <select class="form-control" th:field="*{moisDebut}" name="Periode" type="number" id="d_mois" required="">
										      <option value="">Sélectionner le mois Fin Periode</option>
											  <option value="1">Janvier</option>
											  <option value="2">Fevrier</option>
											  <option value="3">Mars</option>
											  <option value="4">Avril</option>
											  <option value="5">Mai</option>
											  <option value="6">Juin</option>
											  <option value="7">Juillet</option>
											  <option value="8">Aout</option>
											  <option value="9">Septembre</option>
											  <option value="10">Octobre</option>
											  <option value="11">Novembre</option>
											  <option value="12">Decembre</option>
                         				</select>											
									</td>
									
									<td align="right">
										<label for="Debut Periode"><font color=black>mois Fin:</font></label>
									</td>	
									<td align="left">
									    <select class="form-control"  th:field="*{moisFin}" name="Periode" type="number" id="f_mois" required="">
										      <option value="">Sélectionner le mois debut Periode</option>
											  <option value="1">Janvier</option>
											  <option value="2">Fevrier</option>
											  <option value="3">Mars</option>
											  <option value="4">Avril</option>
											  <option value="5">Mai</option>
											  <option value="6">Juin</option>
											  <option value="7">Juillet</option>
											  <option value="8">Aout</option>
											  <option value="9">Septembre</option>
											  <option value="10">Octobre</option>
											  <option value="11">Novembre</option>
											  <option value="12">Decembre</option>
                         				</select>											
									</td>
								
								</tr>
								
                                    <td align="right">
										<label for="Region"><font color=black>Région:</font></label>
									</td>	
								<td align="left">
									    <select class="form-control" name="Région" type="text" th:field="*{codRegion}" id="f_region" required="">
									      <option value="">Sélectionner une Région</option>
                                              <option th:each="SigRegion:${allSigRegion}" 
	                                                   th:value="${SigRegion.getCodRegion()}"
	                                                   th:text="${SigRegion.getNomRegion()}">
	                                            </option>
                         				 </select>											
									</td>

                                    <td align="right">
										<label for="Département"><font color=black>Département:</font></label>
									</td>	
									<td align="left">
									    <select class="form-control" name="Département" type="text" th:field="*{codDepartement}" id="f_departement" required="">
									      <option value="">Sélectionner un Département</option>
                                             <option  th:each="SigDepartement:${allSigDepartement}" 
	                                                     th:value="${SigDepartement.getCodDepartement()}"
	                                                     th:text="${SigDepartement.getNomDepartement()}">
	                                            </option>
                         				</select>											
									</td>
									
									<input class="form-control" type="hidden"  value="FILTRE" name="paramchoix"/>
								</tr>
								
								

							</tbody>
						</table>
						</br>
						<center>
							<p><button target="submit"  class="btn btn-success" style="background-color: #0099ff"><b>Rechercher</b></button></p>
						</center>
						</form>
					</div>
				</div>
			</center>
            <br/>	


          <div class="col-md-12 col-sm-12 col-xs-12">
					<table width="100%">
						<tr>
							<td>
								<form th:object="${SigFiltreRecherche}" th:action="@{/admin/prgSuiviPlainteMoisDepartementView/rech1}" method="post" enctype="multipart/form-data" novalidate> 
									<input th:field="*{anneeDebut}"  type="hidden" class="form-control" id="d_annee" />
									<input th:field="*{moisDebut}"  type="hidden" class="form-control" id="d_debut" />
									<input th:field="*{moisFin}" type="hidden" class="form-control" id="d_fin"  />
									<input th:field="*{codRegion}" type="hidden" class="form-control" id="f_fin"  />
									<input th:field="*{codDepartement}" type="hidden" class="form-control" id="f_fin"  />
									
									
									<input class="form-control" type="hidden"  value="EXCEL" name="paramchoix"/>
						
							<center>		<button type="submit"  class="btn btn-large btn-primary navbar-center"   ><b>Générer Excel</b></button>  	</center>
						
								</form>
								
							</td>
							
						</tr>
					</table>					

         <!-- page fin filtre -->
        
        <!-- page detail fitre -->

        <!-- page content -->
       
			<div class="">
				<div class="x_title">
						
						
						<ul class="nav navbar-right panel_toolbox">
						  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<center>
<!--debut contenue ---------------------------------PAGE--><!--BEGIN CONTENT-->

				<br/>
			
				
				<div class="row-fluid sortable ui-sortable">		                                                            
					<div class="panel panel-yellow">
						<div class="panel-body">
							<div id="no-more-tables">
								<table id="datatable-fixed-header" border="1" class="table table-striped jambo_table bulk_action" width="70%">
								<thead >
									   	  	    <tr>
									       <th rowspan="3"><center>Période</center></th>
										    <th rowspan="3"><center>MOIS</center></th>
										    <th rowspan="3"><center>Département</center></th>
											<th colspan="10"><center>PLAINTE</center></th>
											<th colspan="7"><center>TRAITEMENT</center></th>
											<th rowspan="3"><center>Action</center></font></th>
											</tr>
																						
										
										<tr>
										    
										    
											
											<th colspan="3"><center>Nombre de Plainte</center></th>
											<th colspan="3"><center>Analyse par Categorie</center></th>
											<th colspan="2"><center>Gravité</center></th>
											<th colspan="2"><center>Genre</center></th>
											<th colspan="1"><center></center></th>
											<th colspan="1"><center></center></th>
											<th colspan="1"><center></center></th>
											<th colspan="1"><center></center></th>
											<th colspan="3"><center>En Cours</center></th>
											</tr>
											
											
											
											<tr>
											
											<th colspan="1"><center>Nb Plainte</center></th>
											<th colspan="1"><center>Nb Plainte Payé</center></th>
											<th colspan="1"><center>Nb Plainte non Payé</center></th>
											<th colspan="1"><center>Ciblage</center></th>
											<th colspan="1"><center>Transfert monetaire</center></th>
											<th colspan="1"><center>Mesure accompagnement</center></th>
											<th colspan="1"><center>Majeur</center></font></th>
											<th colspan="1"><center>Mineur</center></font></th>
											<th colspan="1"><center>Homme</center></font></th>
											<th colspan="1"><center>Femme</center></font></th>
											<th colspan="1"><center>Resolue</center></th>
											<th colspan="1"><center>Taux Resolution</center></font></th>
											<th colspan="1"><center>Nb cloturé</center></font></th>
											<th colspan="1"><center>Nb En cours</center></font></th>
											<th colspan="1"><center>Niveau 1</center></font></th>
											<th colspan="1"><center>Niveau 2</center></font></th>
											<th colspan="1"><center>Niveau 3</center></font></th>
											
										</tr>
									
										
									</thead>
								<tbody id="tbodyParams">
									<tr th:each="prgSuiviPlainteMoisDepartementView, i:${result}">
										    <td th:text="${prgSuiviPlainteMoisDepartementView.annee}"></td>
											<td th:text="${prgSuiviPlainteMoisDepartementView.libelleMois}"></td>
											<td th:text="${prgSuiviPlainteMoisDepartementView.nomDepartement}"></td>	
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainte}"> </td>	
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlaintePaiement}"></td>
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainteNonPaiement}"> </td>
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainteCiblage}"> </td>
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainteTransfertMonetaire}" ></td> 
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainteMesureAccompagnement}"width="12%"> </td>
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainteMajeur}" ></td>
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainteMineur}" ></td> 
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainteEffFemme}" > </td>
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainteEffHomme}" ></td> 
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainteResolue}" ></td>
											<td th:text="${prgSuiviPlainteMoisDepartementView.tauxResolutionPlainte}" ></td> 
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainteCloture}" > </td>
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainteEnCours}" ></td> 
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainteTraitN1}" ></td> 
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainteTraitN2}" ></td> 
											<td th:text="${prgSuiviPlainteMoisDepartementView.nbPlainteNTraitN3}" ></td> 
											<td> 
												<table>
												<tr><td align="center">	
													<a class="btn btn-info btn-xs" th:href="@{/admin/detailDepMoPrgSuiviPlainteView/__${prgSuiviPlainteMoisDepartementView.annee}__/__${prgSuiviPlainteMoisDepartementView.codMois}__/__${prgSuiviPlainteMoisDepartementView.codDepartement}__}"><i class="fa fa-edit"></i>&nbsp;
													Detail 
													</a> 
										        </td></tr>
												</table>
											</td>
										</tr>
											</tbody>
									
								</table>
							</div>
						</div>
					</div>
					</div>
                  </center>
				</div>
			</div>
		</div>	
    <!-- /page content -->
	</body>
</html>

