<!DOCTYPE html>

<html lang="en" data-layout-decorate="~{fragment/layout}">    
    <meta charset="utf-8">
	     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
		<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

	<body class="nav-md"> 
    
        <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content">

				<div class="clearfix"></div>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<b><font color="orange"><font face=Castellar><font size="5"><center>CREATION D'UN NOUVEAU RECIPIENDAIRE</center></font></font></font></b>
								<ul class="nav navbar-right panel_toolbox">
									<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
							
								<form class="form-horizontal form-label-left " th:object="${prgRecipiendaire}" th:action="@{/admin/prgRecipiendaire/add}" method="post" novalidate enctype="multipart/form-data">
									
								  
								   <div class="item form-group" th:object="${PrgBeneficiaireView}"> >
									    <label class="control-label col-md-3 col-sm-3 col-xs-12" >ID Bénéficiaire<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<select class="form-control" type="text" th:field="*{idPrgBenef}" required="">
											  
												  <option th:each="PrgBeneficiaireView:${allPrgBeneficiaireView}" 
														   th:value="${PrgBeneficiaireView.getIdPrgBenef()}"
														   th:text="${PrgBeneficiaireView.getIdPrgBenef()}">
													</option>
											 </select>	
										</div>
								       </div> 
								   
									<div class="item form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Identifiant du membre  <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
											      <select class="form-control" name="idMembre">
						                                    
						                                            <option th:each="RsuMembreMenage:${allRsuMembreMenage}" 
						                                                    th:value="${RsuMembreMenage.getIdMembre()}" 
						                                                    th:text="${RsuMembreMenage.getNomMembre()+'  '+RsuMembreMenage.getPrenomMembre()  }" > 
						                                                    
						                                            </option>
						                                            
						                           </select>
											</div>
									</div> 
									
									<div class="item form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Identifiant Intervenant  <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
											      <select class="form-control" name="idIntervenant">
						                                     <option value="NONE">Autres récipiendaire</option>  
						                                            <option th:each="SigIntervenant:${allSigIntervenant}" 
						                                                    th:value="${SigIntervenant.getIdIntervenant()}" 
						                                                    th:text="${SigIntervenant.getNomInterv() }"  > 
						                                                    
						                                            </option>
						                                            
						                           </select>
											</div>
									</div> 
									
									<div class="item form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Agence  <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
											      <select class="form-control" name="codAp">
						                                     <option value="NONE">Agence</option>  
						                                            <option th:each="SigAgencePaiement:${allSigAgencePaiement}" 
						                                                    th:value="${SigAgencePaiement.getCodAp()}" 
						                                                    th:text="${SigAgencePaiement.getRaisonSocialAp() }" > 
						                                                    
						                                            </option>
						                                            
						                           </select>
											</div>
									</div> 
									
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Téléphone récipiendaire <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="tel recipiendaire" required="required" type="text" th:field="*{telRecipiendaire}">
										</div>
									</div> 
									
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Coordonnées géographique <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="coordonnées geographique" required="required" type="text" th:field="*{coorgeorecip}">
										</div>
									</div> 
									
									<form method="POST" th:action="@{/admin/upload}" enctype="multipart/form-data">
										<div class="item form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Photo Récipiendaire  <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="file" name="file" id="file" /><br/><br/>
											
											</div>
										</div> 
									   
									   <div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Non de photo <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input id="photoRecip" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Nom de la photo" required="required" type="text" th:field="*{photoRecip}">
										</div>
									   </div> 
																	
									<div class="ln_solid"></div>
									<div class="alert alert-warning alert-dismissible fade in" style="background-color: Gainsboro; align: center" >
                                        <center>
										    <a onclick = "history.back()" class="btn btn-warning" >Retour</a>
											<a href="javascript:window.location.reload()" class="btn btn-default">Annuler</a>
											<button id="send" type="submit" class="btn btn-success">Sauvegarder</button>
											</center>
									</div>
									
									</form>
								</form>
								 
									
									
									
							</div>
						</div>
					</div>
				</div>
			</div>
        <!-- /page content -->

 
</body></html>