<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">    
    
    <head>
		<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

	<body class="nav-md">
    
        <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content">
			<div class="">

				<div class="clearfix"></div>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<b><font color="orange"><font face=Castellar><font size="4"><center>ENREGISTRER UN MEMBRE D'EQUIPE</center></font></font></font></b>
								<ul class="nav navbar-right panel_toolbox">
									<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<form class="form-horizontal form-label-left " th:object="${sigEquipeMembre}" th:action="@{/admin/sigEquipeMembre/add}" method="post"    novalidate>
									 
									 <div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Id Equipe Enquete<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"  data-validate-words="2" name="name" placeholder="Code" required="required" type="text" th:field="*{idEquipeEnquete}">
										</div>
									</div>  
									 
									 
									 
									 <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Agent Collecte<span class="required">*</span></label>
                    
                                    <div class="col-md-6 col-sm-6 col-xs-12">                                        
                                    <select class="form-control" name="codAgCol" th:field="*{codAgCol}" >
                                     <option value="NONE">Agent Collecte</option>  
                                            <option th:each="sigAgentCollecte:${allSigAgentCollecte}" 
                                                    th:value="${sigAgentCollecte.getCodAgCol()}" 
                                                    th:text="${sigAgentCollecte.getNomAgCol()}"> 
                                            </option>
                                    </select>
                           </div>
                           </div> 
									 
									 <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Equipe Collecte <span class="required">*</span></label>
                  
                                    <div class="col-md-6 col-sm-6 col-xs-12">                                        
                                    <select class="form-control" name="codEquipe" th:field="*{codEquipe}" >
                                     <option value="NONE">Equipe Collecte </option>  
                                            <option th:each="sigEquipeCollecte:${allSigEquipeCollecte}" 
                                                    th:value="${sigEquipeCollecte.getCodEquipe()}" 
                                                    th:text="${sigEquipeCollecte.getDesignationEquipe()}"> 
                                            </option>
                                    </select>
                           </div>
                           </div> 
						   
						   <div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Date affectation<span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="dateAffectationMbre" required="required" type="text" th:field="*{dateAffectationMbre}">
									</div>
								</div>
						   
									<div class="ln_solid"></div>
									<div class="alert alert-warning alert-dismissible fade in" style="background-color: Gainsboro; align: center" >
									<center>
										    <a th:href="@{/admin/sigEquipeMembreView}" class="btn btn-warning">Retour</a>
											<a th:href="@{/admin/sigEquipeMembre/add}" class="btn btn-default">Annuler</a>
											<button id="send" type="submit" class="btn btn-success">Enregistrer</button>
											</center>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <!-- /page content -->

 
</body></html>