<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">    
    
    <head>
		<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

	<body class="nav-md">
    
        <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						
					</div>
				</div>
				<div class="clearfix"></div>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<b><font color="orange"><font face=Castellar><font size="5"><center>SAISIE D'UN DOCUMENT JUSTIFICATIF</center></font></font></font></b>
								<ul class="nav navbar-right panel_toolbox">
									<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
							  <form class="form-horizontal form-label-left " th:object="${PrgPlainteDocJust}"  th:with="var=${numTrait},var1=${numPlainte}" th:action="@{/admin/PrgPlainteDocJust3/add/__${var}__/__${var1}__}" method="post" novalidate>
							
								
								
								<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Numero Document <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"  data-validate-words="2" name="name" placeholder="Numero du document" required="required" type="text" th:field="*{idDocJustPlt}" readonly="true">
										</div>
									</div> 
									 
										<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Reference Document <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"  data-validate-words="2" name="name" placeholder="Reference" required="required" type="text" th:field="*{refDocument}">
										</div>
									</div> 
									
										<!--  <div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Date Document <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"  data-validate-words="2" name="name" placeholder="Date" required="required" type="date" th:field="*{dateDocument}">
										</div>
									</div>-->
									
									
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Date Document <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"  data-validate-words="2" name="name" placeholder="Date" required="required" type="date" th:field="*{dateDocument}">
										</div>
									</div>
									
									
									       <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Traitement<span class="required">*</span></label>
                    
                                    <div class="col-md-6 col-sm-6 col-xs-12">                                        
                                    <select class="form-control" name="numTrait" th:field="*{numTrait}" >
                                       
                                            <option th:each="PrgPlainteTraitement:${allPrgPlainteTraitement}" 
                                                    th:value="${PrgPlainteTraitement.getNumTrait()}"
                                                    th:text="${PrgPlainteTraitement.getNumTrait()}"> 
                                            </option>
                                    </select>
                               </div>
                               </div> 
                               
                                    <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Type de Document<span class="required">*</span></label>
                    
                                    <div class="col-md-6 col-sm-6 col-xs-12">                                        
                                    <select class="form-control" name="numTrait" th:field="*{codTypDoc}" >
                                     <option value="NONE">Type Document</option>  
                                            <option th:each="PrgTypeDocJust:${allPrgTypeDocJust}" 
                                                    th:value="${PrgTypeDocJust.getCodTypDoc()}"
                                                    th:text="${PrgTypeDocJust.getLibelleTypDoc()}"> 
                                            </option>
                                    </select>
                               </div>
                               </div> 
									
								
									<div class="ln_solid"></div>
										<div class="alert alert-warning alert-dismissible fade in" style="background-color: Gainsboro; align: center" >
                                         <center>
										    <a onclick = "history.back()" class="btn btn-warning" >Retour</a>
											<a href="javascript:window.location.reload()" class="btn btn-default">Annuler</a>
											<button id="send" type="submit" class="btn btn-success">Enregistrer</button>
											</center>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <!-- /page content -->

 
</body></html>