<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">   
  
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link th:href="@{/build/css/custom.min.css}" rel="stylesheet">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
  </head>

  <body class="nav-md">   
        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 809px;" data-layout-fragment="content">
			
			<div class="col-md-12 col-sm-12 col-xs-12">
			<br/>
			<a class="btn btn-large btn-success" th:href="@{/admin/sigEquipeLocalite/add}">Ajouter une equipe par localité</a>
				<div class="x_panel">
					<div class="x_title">
						<b><font color="orange"><font face=Castellar><font size="4"><center>LISTE DES EQUIPES PAR LOCALITE</center></font></font></font></b>
						<ul class="nav navbar-right panel_toolbox">
						  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<center>
					<div class="x_content">
					
						<table id="datatable-buttons" class="table table-striped jambo_table bulk_action" width="90%">
							<thead>
								<tr heigth="5px">
									 <th >id Equipe Localite</th>
									 <th>date Affectation</th>
									<th>code Equipe</th>
									 <th>designation Equipe</th>
									  <th>code Localite</th>
									  <th>nom Localite</th>			 
									 
									 <th> Actions </th>
									                       
								</tr>
							</thead>
							<tbody>
								<tr heigth=2% th:each="sigEquipeLocaliteView,iterStat:${allSigEquipeLocaliteView}">
								   <td align="center" th:text="${sigEquipeLocaliteView.idEquipeLocalite}" width=5%> </td>
								   <td th:text="${sigEquipeLocaliteView.dateAffectLoc}"></td>  
                                    <td th:text="${sigEquipeLocaliteView.codEquipe}"></td>   
									<td th:text="${sigEquipeLocaliteView.designationEquipe}"></td>   								   
									<td th:text="${sigEquipeLocaliteView.codLocalite}"></td>   
									<td th:text="${sigEquipeLocaliteView.nomLocalite}"></td>   
									
									
									<td width=30% allign="center">
										<center>
											<a class="btn btn-info btn-xs" th:href="@{/admin/editSigEquipeLocalite/__${sigEquipeLocaliteView.idEquipeLocalite}__}" onclick="return confirm('Voulez-vous modifier ce SIG ?')" ><i class="fa fa-edit"></i>&nbsp;
												Modifier
											</a>
											 <a class="btn btn-danger btn-xs" th:href="@{/admin/sigEquipeLocalite/delete/__${sigEquipeLocaliteView.idEquipeLocalite}__}" onclick="return confirm('Voulez-vous supprimer ce SIG ?')" ><i class="fa fa-trash-o"></i>&nbsp;
												Supprimer
											</a>  
										</center>            
									</td>
								</tr>
							</tbody>
						</table>
						
					  </div>
					  </center>
				</div>
			</div>
		</div>
        <!-- /page content -->

    </body>
</html>