<div class="profile" data-th-fragment="footer">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link th:href="@{/build/css/custom.min.css}" rel="stylesheet">
		<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>
	<footer>
        <div class="pull-right" >
          Système d'Information et de Gestion du projet filets sociaux productifs &copy; Copyright 2019 Tous Droits Reservés UGP//ORA ++
        </div>
        <div class="clearfix"></div>
      </footer>
</div>