<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">   
    
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

	<body class="nav-md">
  
        <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content">
		</br></br></br></br></br></br></br></br></br></br></br>
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">
					<div class="panel-heading">Problème d'autorisation</div>
					<div class="panel-body">
						<div class="red">
							Vous n'avez pas le droit d'accèder à cette ressource.
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				
            </div>
        </div>
    <!-- /page content -->
	</body>
</html>