<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragment/layout}">   
    
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7A678B1C-4107-8C43-995B-90A65D6E597B/main.js" charset="UTF-8"></script>
	</head>

	<body class="nav-md">

     
        <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content">
			<div class="">
            
			<div class="clearfix">
			</div>

            <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<b><font color="orange"><font face=Castellar><font size="5"><center>MODIFICATION D UTILISATEUR</center></font></font></font></b>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
                  
						<div class="x_content">





							<form class="form-horizontal form-label-left " th:object="${user}" th:action="${'/user/edit/'+user.userName}" method="post"   novalidate>
								<div class="item form-group">
									
									 
								 
								 
							  <div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nom d'utilisateur</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="usr" type="text" th:field="*{userName}" required="required">
								  <span class="help-inline" style="color: #d70000;" th:text="${message}"></span>
								  <span class="help-inline" style="color: #d70000;" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
								</div>
							  </div>
								 
								
								 <div class="item form-group">
								   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="usr-email">Email</label>
								      <div class="controls">
								        <input class="input-xlarge focused" id="usr-email" type="text" th:field="*{email}" required="required">
								         <span class="help-inline" style="color: #d70000;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
								     </div>
							    </div>

                                 
                               <div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="usr-mdp">Mot de passe</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="usr-mdp" type="password" th:field="*{password}">
								  <span class="help-inline" style="color: #d70000;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
								</div>
							  </div>


							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="selectRole">Rôle</label>
								<div class="controls">
								  <select id="selectRole" th:field="*{role}">
									<option value="ROLE_SUPERADMIN">Super Admin</option>
									<option value="ROLE_ADMIN">Admin</option>
									<option value="ROLE_USER" selected="selected">Utilisateur</option>
								  </select>
								  <span class="help-inline" style="color: #d70000;" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
								</div>
							  </div>
							  
							  <div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="selectStatus">Statut</label>
								<div class="controls">
								  <select id="selectStatus" th:field="*{enabled}">
									<option value="0">Inactif</option>
									<option value="1" selected="selected">Actif</option>
								  </select>
								  <span class="help-inline" style="color: #d70000;" th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}"></span>
								</div>
							  </div>
							  
							  <div class="ln_solid"></div>
							  <div class="form-actions">
										<button type="submit" class="btn btn-primary">Annuler</button>
										<button id="send" type="submit" class="btn btn-success">Sauvegarder</button>
							  </div>
				
                        
                        
                         
							</form>


						</div>
                    
					</div>
                </div>
            </div>
        </div>
    <!-- /page content -->
	</body>
</html>